h1 {
   color:blue;
 }

  [href="https://www.youtube.com/channel/UC-XkJf7RptTQ-9blT9n3sZA"] {
    color:red;
  }

  [href="https://www.roblox.com/users/2789611863/profile"] {
    color:darkred;
  }
